/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
/*
     FILE ARCHIVED ON 12:27:10 Oct 04, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:47:36 Mar 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.243
  esindex: 0.022
  CDXLines.iter: 29.157 (3)
  load_resource: 114.791
  captures_list: 677.318
  PetaboxLoader3.datanode: 63.674 (4)
  PetaboxLoader3.resolve: 622.68 (2)
  LoadShardBlock: 639.833 (3)
  RedisCDXSource: 3.538
  exclusion.robots: 0.264
*/